{% extends "base.html" %}

{% block title %}
    View Item
{% endblock title %}

{% block content %}
    {% if item %}
        <h1>{{item.item_text}}</h1>
        {% if error_message %}
            <p style="color: red;"><strong>{{ error_message }}</strong></p>
        {% endif %}
        <p>{{item.score}} points</p>
        <hr>
        <p>Vote</p>
        <form action="{% url 'boards:vote' item.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Vote">
        </form>
    {% endif %}
{% endblock content %}