{% extends "base.html" %}

{% block title %}
    Item List
{% endblock title %}

{% block content %}
    <div class="col-sm-6">
        {% if item_list %}
            <ul class="list-group">
                {% for item in item_list %}
                <li class="list-group-item">
                    <span class="badge">{{ item.score }}</span>
                    <a href="{% url 'boards:detail' item.id %}">
                        {{ item.item_text }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock content %}